body{
    background:#e7dabe;
}

/*form used for input title*/
form{
    float: right;
    
}
input{
    float: right;
}
label{
    font-family: 'Permanent Marker', cursive;
}
input#addMovie{
    font-family: 'Permanent Marker', cursive;
    border: solid  5px;
    border-radius: 8px;
}




#movieGif{
    height: auto;
    width: 75%;
    position: absolute;
  
}

h3, h1{
    text-align: center;
    font-family: 'Permanent Marker', cursive;
}
h1{
    font-size: 50px;
}
img{
    width: 251px;
    height: 200px;
}

div.movies{
    display: inline-block;
    margin-top: 35px;
    margin-right: 15px;
    border: solid black 5px;
    height: 255px;
    
    
}

div.gifHeadline{
    display: inline-block;
    border: solid black 5px;
    border-radius: 14px;
    width: 200px;
    height: 150px;
    margin-bottom: 20px;
    margin-left: 35px;
    
    
}
.prGifSize{
    width: 201px;
    height: 150px;
    border-radius: 7px;
}


.gifImages{
    display: inline;
}

#outsideGif{
    width: 75%;
    
}
button.movie{
    background: whitesmoke;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: solid  5px;
    border-radius: 8px;
    margin: 3px;
}

p{
    font-family: 'Permanent Marker', cursive;
}